body {
  background-color: #ed664c;
}

.container {
  display: flex;
  justify-content: center;
}

.App {
  background-color: #fff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: rgb(221, 221, 221);
}

ul, li {
  list-style: none;
  margin: 5px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  margin-right: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 5px;
  color: #fff;
  width: 50px;
}

.btn-add {
  background: rgb(233, 233, 85);
  margin-right: 20px;
}

.btn-delete {
  background: #ed664c;
}

input {
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  padding: 10px;
}